@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --font-sans: 'Karla', Arial, sans-serif;
  --color-kana-blue: #99b1dc;
  --color-kana-blue-pale: #c2d2f5;
  --color-kana-purple: #bea3e7;
}

html,
body {
  font-size: 14px;
}

@layer utilities {
  .border-outset {
    border-style: outset;
  }

  .border-inset {
    border-style: inset;
  }
}
