@import 'tailwindcss';

@plugin "@tailwindcss/typography";

@theme {
  --color-kana-blue: #99b1dc;
  --color-kana-blue-pale: #c2d2f5;
  --color-kana-purple: #bea3e7;
}

html,
body {
  font-size: 14px;
}

@layer utilities {
  .border-outset {
    border-style: outset;
  }

  .border-inset {
    border-style: inset;
  }
}
